<!-- <table class="bordered" id="wine-cellar-table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Name</th>
      <th>Grape</th>
      <th>Year</th>
      <th>Region</th>
      <th>Country</th>
      <th>Quantity</th>
      <th>Notes</th>
      <th>Rating</th>
      <th>Price</th>
    </tr>
  </thead>

  {{#each wines as |wine|}}

          <tbody>
              <tr data-id="{{wine.id}}">
              <td><img "thumbnail-image" src="{{wine.url_picture}}" alt="" class="responsive-img" /></td>
              <td>{{wine.name}}</td>
              <td>{{wine.grape}}</td>
              <td>{{wine.year}}</td>
              <td>{{wine.region}}</td>
              <td>{{wine.country}}</td>
              <td>{{wine.quantity}}</td>
              <td>{{wine.notes}}</td>
              <td>{{wine.rating}}</td>
              <td>{{wine.price}}</td>
              <td><button type="button" class="remove-wine btn btn-default" data-id="{{wine.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
              </tr>
          </tbody>

        </table>
{{/each}} -->



{{#each wines as |wine|}}
    <div class="col s3" data-id="{{wine.id}}" id="remove-{{wine.id}}">
        <!-- <img src="{{wine.url_picture}}" alt="{{wine.wine}} wine cover"> -->
        <div class="caption">

      <h5>
        {{wine.name}}
      </h5>
          <h6>{{wine.grape}}</h6>
          <h6>{{wine.year}}</h6>
      <p><button href="#" class="btn btn-primary rate-wine" role="button" id="modify-{{wine.id}}" >View Details</button>
      </div>
 </div>

{{/each}}
