{{#each wines as |wine|}}
    <div class="col s3" data-id="{{wine.id}}" >
      <h5>
        {{wine.name}}
      </h5>
          <h6>Grape: {{wine.grape}}</h6>
          <h6>Vintage: {{wine.year}}</h6>
          <h6>Quantity: {{wine.quantity}}</h6>
      <button type="button" class="update-one-wine btn btn-default" data-id="{{wine.id}}"><i class="material-icons right">mode_edit</i></button>
      <button type="button" class="delete-wine btn btn-default" data-id="{{wine.id}}"><i class="material-icons right">delete_forever</i></button>
      </p>
      </div>
{{/each}}
