<!-- <table class="bordered" id="wine-cellar-table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Name</th>
      <th>Grape</th>
      <th>Year</th>
      <th>Region</th>
      <th>Country</th>
      <th>Quantity</th>
      <th>Notes</th>
      <th>Rating</th>
      <th>Price</th>
    </tr>
  </thead>

  {{#each wines as |wine|}}

          <tbody>
              <tr data-id="{{wine.id}}">
              <td><img "thumbnail-image" src="{{wine.url_picture}}" alt="" class="responsive-img" /></td>
              <td>{{wine.name}}</td>
              <td>{{wine.grape}}</td>
              <td>{{wine.year}}</td>
              <td>{{wine.region}}</td>
              <td>{{wine.country}}</td>
              <td>{{wine.quantity}}</td>
              <td>{{wine.notes}}</td>
              <td>{{wine.rating}}</td>
              <td>{{wine.price}}</td>
              <td><button type="button" class="remove-wine btn btn-default" data-id="{{wine.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
              </tr>
          </tbody>

          <td><button type="button" class="remove-chore btn btn-default" data-id="{{chore.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
<td><button type="button" class="update-chore btn btn-default" data-id="{{chore.id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>



        </table>
{{/each}} -->



{{#each wines as |wine|}}
    <div class="col s3" data-id="{{wine.id}}" id="remove-{{wine.id}}">
        <!-- <img src="{{wine.url_picture}}" alt="{{wine.wine}} wine cover"> -->
        <div class="caption">

      <h5>
        {{wine.name}}
      </h5>
          <h6>Grape: {{wine.grape}}</h6>
          <h6>Vintage: {{wine.year}}</h6>
          <h6>Quantity: {{wine.quantity}}</h6>
      <!-- <p><button class="btn btn-primary red-grape-color update-one-wine" data-id="{{wine.id}}">Details/Update</button> -->
      <!-- <p><button class="btn btn-primary red delete-wine" data-id="{{wine.id}}">Delete Wine</button>   <i class="material-icons right">mode_edit</i><p> -->
      <button type="button" class="update-one-wine btn btn-default" data-id="{{wine.id}}"><i class="material-icons right">mode_edit</i></button>
      <button type="button" class="delete-wine btn btn-default" data-id="{{wine.id}}"><i class="material-icons right">delete_forever</i></button>
      </p>
      </div>
 </div>

{{/each}}

<!--
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a> -->
  <!-- delete_forever -->
